.weather-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 20px;
    width: calc(100% - 50px);
    place-items: start;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 1066px) {
    .weather-cards-wrapper {
        place-items: center;
    }
}

@media screen and (max-width: 385px) {
    .weather-cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}